$colour-background: #181818;
$colour-container: #242424;
$colour-text-primary: #FDFDFD;
$colour-text-secondary: #959595;
$colour-green-primary: #29C13E;

// breakpoints.scss
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1500px;