@import "../../../styles/variables.scss";

.loader {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    .circle {
        color: $green;
        width: 2rem;
    }

    p {
        color: $white;
        font-size: 1.25rem;
        padding-top: 1rem;
    }
}