@import "../../styles/variables.scss";

.profile {

    .nav {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 0;
        align-items: center;
        position: relative;

        i {
            font-size: 1.5rem;
            cursor: pointer;
        }
    }


    p {
        color: $medium-grey;
        font-size: 0.9rem;
        margin: 0.25rem 0;
    }

    .info {
        padding: 2rem 0;
        text-align: center;

        img {
            border-radius: 50%;
            width: 10rem;
        }

        h1 {
            color: $green;
            font-weight: 600;
            margin: 1.5rem 0 0.5rem 0;
        }

        p span {
            font-size: 1rem;
            font-weight: 500;

            &.today {
                font-weight: 500;
                color: $green;
            }
        }

        .options {
            margin-top: 0.75rem;
            display: flex;
            justify-content: center;

            .button {
                font-size: 0.8rem;
                display: flex;
                align-items: center;
                padding: 0.5rem 1rem;


                i {
                    margin-right: 0.25rem;
                    font-size: 0.9rem;
                }

                &:last-child {
                    margin-left: 0.75rem;
                }
            }
        }
    }

    .extra {
        padding: 2rem 0rem;
        border-radius: 3rem 3rem 0 0;
        background-color: $white;
        width: 100%;
        z-index: 1;
        bottom: 0;
        box-sizing: border-box;

        textarea {
            background-color: $light-grey;
        }

        h2 {
            font-size: 1.4rem;
            font-weight: 600;
            margin: 2rem 0;
        }
    }
}