@import "../../../styles/variables.scss";

.nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;
    position: relative;

    .left {
        img {
            width: 2rem;
        }
    }

    .menu {
        height: 0;
        background-color: $green;
        overflow: hidden;
    }
}