@import "../../../styles/variables.scss";

.header {
    background-color: $white;
    margin-bottom: 2rem;

    .nav {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
        align-items: center;
        position: relative;

        .left {
            img {
                width: 2rem;
            }
        }

        .right i {
            color: $grey;
            font-size: 1.75rem;
            cursor: pointer;
        }


    }

    .menu {
        background-color: $green;
        width: 100vw;
        transition: 0.5s ease-in-out;
        height: 0;
        display: flex;
        justify-content: flex-end;
        overflow: hidden;

        ul {
            @include reset-list;
            height: 100%;
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            justify-content: center;
            padding-right: 2rem;

            li {
                margin: 0.25rem 0;
                color: $white;
                cursor: pointer;
                font-size: 1.1rem;
            }
        }

        &.open {
            height: 20vh;
        }
    }
}