@import "../../../styles/variables.scss";

.card {
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    transition: 0.3s ease-in-out;

    &:hover {
        border-color: $green;
    }

    p {
        color: $medium-grey;
        font-size: 0.8rem;
        margin: 0;
    }

    .days {
        text-align: center;

        h1 {
            color: $green;
            font-weight: 700;
            font-size: 1.1rem;
            margin: 0;
        }
    }

    .divider {
        height: 2.5rem;
        background-color: $medium-grey;
        width: 2px;
        margin: 0 1rem;
        border-radius: 0.25rem;
    }

    .content {
        display: flex;
        align-items: center;

        .image {
            border-radius: 50%;
            overflow: hidden;
            width: 3rem;
            height: 3rem;

            img {
                width: 100%;
                min-height: 100%;
                object-fit: cover;
                object-position: center center;
            }
        }

        .text {
            padding-left: 1rem;

            h1 {
                margin: 0;
                font-size: 1rem;
                font-weight: 600;
            }

            .bottom {
                p {
                    margin: 0.05rem 0;

                    &:first-child {
                        color: $green;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    &.today {
        border-color: $green;
        align-items: center;
        flex-direction: column;
        padding: 2rem 1rem;

        .content {
            flex-direction: column;
            align-items: center;
            text-align: center;

            .image {
                width: 5rem;
                height: 5rem;
            }

            .text {
                padding: 0;
                margin-top: 1rem;

                .bottom {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                        &:first-child {
                            font-size: 1rem;
                            font-weight: 600;
                            margin: 0.1rem;
                            color: $green;

                            &::after {
                                content: "•";
                                margin: 0 0.25rem;
                                color: $medium-grey;
                            }
                        }
                    }
                }

                .options {
                    margin-top: 0.75rem;
                    display: flex;
                    justify-content: center;


                    .button {
                        font-size: 0.8rem;
                        display: flex;
                        align-items: center;
                        padding: 0.5rem 1rem;


                        i {
                            margin-right: 0.25rem;
                            font-size: 0.9rem;
                        }

                        &:last-child {
                            margin-left: 0.75rem;
                        }
                    }
                }
            }
        }
    }

    &.shared {
        .checkbox {
            color: $green;
        }
    }
}