@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vb3h91');
  src:  url('fonts/icomoon.eot?vb3h91#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vb3h91') format('truetype'),
    url('fonts/icomoon.woff?vb3h91') format('woff'),
    url('fonts/icomoon.svg?vb3h91#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paper-plane:before {
  content: "\e900";
}
.icon-carrot-left:before {
  content: "\e903";
}
.icon-add:before {
  content: "\e901";
}
.icon-notifications:before {
  content: "\e902";
}
