@import '../../../styles/config';

.CountdownTimer {
  border: 1px solid $colour-primary-green-primary;
  padding: 16px 24px;
  border-radius: 16px;
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  gap: 12px;
  justify-content: center;
  text-align: center;
}