$main-font: Rubik,
sans-serif;
$light-grey: #f4f4f4;
$medium-grey: #7a8d9c;
$grey: #242935;
$white: #ffffff;
$green: #29C13E;
$green-gradient: linear-gradient(90deg, rgba(48, 125, 254, 1) 0%, rgba(29, 88, 251, 1) 100%);

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin box-shadow {
    -webkit-box-shadow: 3px 3px 25px -15px rgba($green, 0.3);
    -moz-box-shadow: 3px 3px 25px -15px rgba($green, 0.3);
    box-shadow: 3px 3px 25px -15px rgba($green, 0.3);
}

@mixin box-shadow-grey {
    -webkit-box-shadow: 3px 3px 30px -10px rgba($grey, 0.3);
    -moz-box-shadow: 3px 3px 30px -10px rgba($grey, 0.3);
    box-shadow: 3px 3px 30px -10px rgba($grey, 0.3);
}