@import '../../../../styles/_config';

.Typography {
  margin: 0;
  display: block;

  &.variant {
    &-h1 {
      font-weight: 600;
      font-size: 36px;
    }

    &-h2 {
      font-weight: 600;
      font-size: 30px;
    }

    &-h3 {
      font-weight: 600;
      font-size: 26px;
    }

    &-h4 {
      font-weight: 600;
      font-size: 22px;
    }

    &-h5 {
      font-weight: 600;
      font-size: 18px;
    }

    &-h6 {
      font-weight: 600;
      font-size: 16px;
    }

    &-p {
      font-size: 15px;
      font-weight: 400;
    }

    &-small {
      font-size: 14px;
      font-weight: 400;
    }
  }

  &.color {
    &-primary {
      color: $colour-text-primary;
    }

    &-secondary {
      color: $colour-text-secondary;
    }

    &-green {
      color: $colour-primary-green-primary;
    }
  }

  &.weight {
    &-300 {
      font-weight: 300;
    }

    &-400 {
      font-weight: 400;
    }

    &-500 {
      font-weight: 500;
    }

    &-600 {
      font-weight: 600;
    }
  }
}