.Profile {
  .bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px 0;
  }

  .settings {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }
}