@import '../../../../styles/config';

.MobileNavbar {
  border-top: 0.25px solid rgba($colour-text-secondary, 0.25);
  background-color: $colour-background;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  .link {
    display: block;

    button {
      background-color: transparent;
      border: none;
      padding: 0;
      width: 100%;
      height: 100%;
      @include flexCenter;
    }
  }
}