@import "../../../../styles/variables.scss";

.button {
    @include reset-button;
    @include neumorph(0.1rem, $medium-grey);
    background-color: $white;
    border-radius: 50%;
    padding: 0.25rem;


    i {
        font-size: 1.25rem;
        color: $green;
    }
}