@import "../../styles/variables.scss";

.dashboard {
    padding-bottom: 7rem;

    .today {
        h1 {
            font-size: 1.75rem;
            font-weight: 600;
        }

        .grid {
            padding: 1rem 0;
        }
    }

    .upcoming {
        padding-top: 1rem;

        h2 {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }

    .add {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: center;
    }

}