@import '../../../../styles/_config';

.Input {
  width: 100%;

  input {
    display: block;
    border-radius: 16px;
    background-color: $colour-container;
    border: 1px solid $colour-container;
    outline: none;
    padding: 16px;
    font-weight: 500;
    width: 100%;
    color: $colour-text-primary;
    transition: 0.3s ease-in-out;
    font-size: 14px;

    &::placeholder {
      color: $colour-text-secondary;
      font-weight: 500;
    }

    &:focus {
      border-color: $colour-primary-green-primary;
    }

    &:disabled {
      color: rgba($colour-text-secondary, 0.5);
      background-color: rgba($colour-container, 0.5);
      user-select: none;
      cursor: none;
    }
  }

  label {
    font-size: 14px;
    font-weight: 400;
  }
}